<!DOCTYPE html>
<html>
<head>
	<title>{% block title%} {%endblock%}</title>

	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src = "{{url_for('static', filename='js/jquery.js')}}"></script>
	



</head>
<body width = "1280px" height = "768px" >


	{%block content%}




		{% with messages = get_flashed_messages()%}
			{%if messages %}
				{%for message in messages %}
					<div class='alert alert-success'>
						{{message}}
					</div>		
				{%endfor%}
			{%endif%}
		{% endwith %}
	{%endblock%}
	
	<footer>
		<div class =  container>
			<p class = "copyriht text-muted">
				&copy; GameWork 2021
			</p>
		</div>
	</footer>

</body>
</html>